html {
    height: 100%;
    font-size: 100%;
    background: #f0f0f0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0 auto;
    min-height: 100%;
    max-width: 800px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.5);
    padding: 18px;
}

h1 a, h2 a {
    text-decoration: none;
    color: black;
}

header h1 {
    font-weight: 600;
    letter-spacing: -1px;
    font-size: 2.6em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);

}

td.form input[type=text] {
    width: 500px;
    padding: 2px;
    font-family: monospace;
}

textarea {
    width: 500px;
    height: 150px;
    font-family: monospace;
}

.post_heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post_title {
    font-size: 24px;
    font-weight: bold;
}

.post_title a {
    text-decoration: none;
    color: black;
}
.post_date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;
}

.comment_heading {
    position: relative;
    border-bottom: 1px solid #666;
}

.comment_title {
    font-size: 18px;
}

.comment_title_reg {
    font-size: 18px;
    font-weight: bold;
}

.post_body {
    padding-bottom: 20px;
    margin-bottom: 8px;
}

.author {
    font-size: 18px;
    font-weight: bold;
}

.add_comment {
    padding-bottom: 20px;
    border-bottom: 1px dotted #666;
}

nav {
    width: 100%;
    height: 24px;
    padding-bottom: 20px;
    margin-bottom: 8px;
    border-bottom: 1px dotted #666;
}
nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 3px;
    margin-right: 10px;
}
nav a:hover {
    text-decoration: underline;
}

.button { 
    appearance: button;
    -moz-appearance: button;
    -webkit-appearance: button;
    text-decoration: none; 
    font: menu; 
    color: ButtonText;
    display: inline-block; 
    padding: 2px 8px;
}

.tags a {
    color: black;
    padding: 0 0 0 21px;
    background: url(../img/tag_icon.png) no-repeat 0 .25em;
}

.tags {
    padding-bottom: 20px;
}

.error {
    color: red;
}

.archive a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.archive a:hover {
    text-decoration: underline;
}